[submodule "ffmpeg"]
	path = ffmpeg
	url = git://github.com/FFmpeg/FFmpeg.git
[submodule "Libs/zlib"]
	path = Libs/zlib
	url = https://github.com/ffmpeginteropx/zlib.git
[submodule "Libs/bzip2"]
	path = Libs/bzip2
	url = https://github.com/ffmpeginteropx/bzip2.git
[submodule "Libs/libiconv"]
	path = Libs/libiconv
	url = https://github.com/ffmpeginteropx/libiconv.git
