[submodule "Libs/zlib"]
	path = Libs/zlib
	url = https://github.com/ffmpeginteropx/zlib.git
[submodule "Libs/bzip2"]
	path = Libs/bzip2
	url = https://github.com/ffmpeginteropx/bzip2.git
[submodule "Libs/libiconv"]
	path = Libs/libiconv
	url = https://github.com/ffmpeginteropx/libiconv.git
[submodule "Libs/libxml2"]
	path = Libs/libxml2
	url = https://github.com/ffmpeginteropx/libxml2.git
[submodule "Libs/liblzma"]
	path = Libs/liblzma
	url = https://github.com/ffmpeginteropx/liblzma.git
[submodule "Libs/PkgConfigFake"]
	path = Libs/PkgConfigFake
	url = https://github.com/ffmpeginteropx/PkgConfigFake.git
[submodule "Libs/ffmpeg"]
	path = Libs/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "Libs/x265"]
	path = Libs/x265
	url = https://github.com/videolan/x265.git
[submodule "Libs/libvpx"]
	path = Libs/libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "Libs/x264"]
	path = Libs/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "Libs/gas-preprocessor"]
	path = Libs/gas-preprocessor
	url = https://github.com/FFmpeg/gas-preprocessor
[submodule "Libs/dav1d"]
	path = Libs/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "Libs/openssl"]
	path = Libs/openssl
	url = https://github.com/openssl/openssl.git
[submodule "Libs/vcpkg"]
	path = Libs/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
